<!DOCTYPE html>
<html lang="pt-br"
      layout:decorate="~{/user/registry/registry}"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>UTFPR - Xenon</title>
</head>
<body>
<div layout:fragment="content-registry" th:remove="tag">
  <div class="container">
    <div class="row">
      <div class="col-sm-8 col-md-offset-2">
        <div class="panel panel-default panel-headerless">

          <div class="panel-body layout-variants">
            <!--/*@thymesVar id="error" type="org.springframework.validation.FieldError"*/-->
            <div th:if="${error}" class="errors-container">
              <div class="alert alert-danger text-center">
                <span id="message_error">E-mail inválido <strong>Revise as informações e tente novamente!</strong></span>
              </div>
            </div>


            <div class="panel-form-registry">
              <div class="panel panel-flat">
                <div class="panel-heading">
                  <h3 class="panel-title text-warning">Vamos começar?</h3>
                </div>

                <div class="panel-body">
                  <h3>Certo Primeiro entre com seu e-mail institucional</h3>

                  <form name="email-registry"
                        id="email_registry"
                        method="post"
                        th:action="@{/novo-registro}"
                        novalidate
                        th:object="${inputEmail}"
                        role="form">
                    <div class="form-group">

                      <label class="control-label" for="input_email"></label>
                      <input autocomplete="off"
                             th:field="*{email}"
                             class="form-control"
                             id="input_email"
                             type="text"/>
                    </div>

                    <div class="form-group">
                      <button class="btn btn-success btn-icon" type="submit">
                        <i class="fa-check"></i>
                        <span>Quando tiver pronto clique</span>
                      </button>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>

</body>
</html>
