<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<meta content="IE=edge" http-equiv="X-UA-Compatible">

	<meta content="width=device-width, initial-scale=1.0" name="viewport"/>
	<meta content="Gerenciador de acesso ao estacionado da utfpr" name="description"/>
	<meta content="Vincius Cavalcanti" name="author"/>

	<link href="http://fonts.googleapis.com/css?family=Arimo:400,700,400italic" rel="stylesheet">

	<link rel="stylesheet" th:href="@{/vendor/css/fonts/linecons/css/linecons.css}" type="text/css">
	<link rel="stylesheet" th:href="@{/vendor/css/fonts/fontawesome/css/font-awesome.min.css}"
				type="text/css">
	<link rel="stylesheet" th:href="@{/vendor/css/bootstrap.css}" type="text/css">
	<link rel="stylesheet" th:href="@{/vendor/css/xenon-core.css}" type="text/css">
	<link rel="stylesheet" th:href="@{/vendor/css/xenon-components.css}" type="text/css">
	<link rel="stylesheet" th:href="@{/vendor/css/xenon-skins.css}" type="text/css">
	<link rel="stylesheet" th:href="@{/css/custom.css}" type="text/css">

	<script th:src="@{/vendor/js/jquery-1.11.1.min.js}"></script>

	<!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
	<!--[if lt IE 9]>
	<script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
	<script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
	<![endif]-->

	<title>Xenon - 403</title>
</head>
<body class="page-body page-error-env">

<div class="page-error centered">

	<div class="error-symbol">
		<i class="fa-warning"></i>
	</div>

	<h2>
		Error 403<small>Acesso Negado!</small>
	</h2>

	<p>Você não tem acesso a este recurso!</p>
	<p>Verifique com o administrador do sistema </p>

</div>

<script th:src="@{/vendor/js/bootstrap.min.js}"></script>
<script th:src="@{/vendor/js/resizeable.js}"></script>
<script th:src="@{/vendor/js/joinable.js}"></script>
<script th:src="@{/vendor/js/xenon-api.js}"></script>
<script th:src="@{/vendor/js/xenon-custom.js}"></script>

</body>
</html>
