<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <include resource="org/springframework/boot/logging/logback/base.xml"/>

    <logger level="INFO" name="root"/>
    <logger level="WARN" name="com.gargoylesoftware.htmlunit.*"/>

    <logger level="INFO" name="br.com.tsi.utfpr.xenon.XenonApplicationTests"/>

    <logger level="INFO" name="br.com.tsi.utfpr.xenon"/>
</configuration>
