<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <include resource="org/springframework/boot/logging/logback/base.xml" />
    <logger name="root" level="OFF"/>
    <logger name="br.edu.utfpr.tsi.utfparking" level="OFF"/>
    <logger name="org.springframework" level="OFF"/>
    <logger name="org.springframework.boot" level="OFF"/>
    <logger name="org.springframework.web.servlet" level="OFF"/>
    <logger name="org.springframework.boot.security" level="OFF"/>
    <logger name="org.springframework.web.SimpLogging" level="OFF"/>
</configuration>
