<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">
	<body>
		<th:block th:fragment="siderbar">
			<div class="sidebar-menu toggle-others fixed">
				<div class="sidebar-menu-inner">

					<header class="logo-env">

						<!-- logo -->
						<div class="logo">
							<a href="dashboard-1.html" class="logo-expanded">
								<img th:src="@{/images/logo@2x.png}" width="80" alt="logo da aplicação" />
							</a>

							<a href="dashboard-1.html" class="logo-collapsed">
								<img th:src="@{/images/logo-collapsed@2x.png}" width="40" alt="" />
							</a>
						</div>

						<!-- This will toggle the mobile menu and will be visible only on mobile devices -->
						<div class="mobile-menu-toggle visible-xs">
							<a href="#" data-toggle="user-info-menu">
								<i class="fa-bell-o"></i>
								<span class="badge badge-success">7</span>
							</a>

							<a href="#" data-toggle="mobile-menu">
								<i class="fa-bars"></i>
							</a>
						</div>

						<!-- This will open the popup with user profile settings, you can use for any purpose, just be creative -->
						<div class="settings-icon">
							<a href="#" data-toggle="settings-pane" data-animate="true">
								<i class="linecons-cog"></i>
							</a>
						</div>


					</header>

					<ul id="main-menu" class="main-menu">
						<!--/*@thymesVar id="activeMenu" type="java.lang.String"*/-->
						<li th:classappend="${activeMenu.equals('dashboard')} ? 'opened active' : ''" >
							<a th:href="@{/reconhecimentos}">
								<i class="linecons-cog"></i>
								<span class="title">Dashboard</span>
							</a>
						</li>
						<li th:classappend="${activeMenu.equals('recognize')} ? 'opened' : ''">
							<a th:href="@{/reconhecimentos}">
								<i class="linecons-desktop"></i>
								<span class="title">Acessos</span>
							</a>
							<ul>
								<li th:classappend="${activeMenu.equals('recognize')} ? 'active' : ''">
									<a th:href="@{/reconhecimentos}">
										<span class="title">Reconhecimentos</span>
									</a>
								</li>
							</ul>
						</li>
						<li id="users" th:classappend="${#request.getServletPath().contains('/usuarios') ? 'opened active' : ''}">
							<a th:href="@{/usuarios}">
								<i class="linecons-user"></i>
								<span class="title">Usuários</span>
							</a>
							<ul>
								<li id="users_all" th:classappend="${#request.getServletPath().endsWith('/usuarios') ? 'active' : ''}">
									<a th:href="@{/usuarios}">
										<span class="title">Todos</span>
									</a>
								</li>
								<li id="users_new" th:classappend="${#request.getServletPath().endsWith('/novo') ? 'active' : ''}">
									<a th:href="@{/usuarios/novo}">
										<span class="title">Novo</span>
									</a>
								</li>
							</ul>
						</li>
						<li id="config" th:classappend="${#request.getServletPath() == '/configuracoes' ? 'opened active' : ''}">
							<a th:href="@{/configuracoes}">
								<i class="linecons-desktop"></i>
								<span class="title">Configurações</span>
							</a>
							<ul>
								<li id="config_setter" th:classappend="${#request.getServletPath() == '/configuracoes' ? 'active' : ''}">
									<a th:href="@{/configuracoes}">
										<span class="title">Ajustar</span>
									</a>
								</li>
							</ul>
						</li>
					</ul>

				</div>

			</div>
		</th:block>
	</body>
</html>
