<!DOCTYPE html>
<html lang="pt-br"
      layout:decorate="~{shared/layout}"
      th:with="activeMenu='user-show'"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Todos Usuários</title>
</head>
<body>
<div layout:fragment="content" th:remove="tag">
  <div class="page-title">

    <div class="title-env">
      <h1 class="title">Usuários</h1>
      <p class="description">Exibição uma lista de todos usuários.</p>
    </div>
    <div class="breadcrumb-env">
      <th:block layout:fragment="bradcrumb">
        <ol class="breadcrumb bc-2">
          <li>
            <a th:href="@{/home}"><i class="fa-home"></i>Home</a>
          </li>
          <li>
            <a th:href="@{/usuarios/todos}">Usuários</a>
          </li>
          <li class="active">
            <strong>Todos</strong>
          </li>
        </ol>
      </th:block>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">Adjustable Responsive Table</h3>

          <div class="panel-options">
            <a href="#" data-toggle="reload">
              <i class="fa-rotate-right"></i>
            </a>
          </div>
        </div>

        <div class="panel-body">
          <div class="table-responsive"
               data-pattern="priority-columns"
               data-focus-btn-icon="fa-asterisk"
               data-sticky-table-header="true"
               data-add-display-all-btn="true"
               data-add-focus-btn="true">
            <table cellspacing="0" class="table table-small-font table-bordered table-striped">
              <thead>
                <tr>
                  <th>id</th>
                  <th data-priority="1">Nome</th>
                  <th data-priority="1">Login</th>
                  <th data-priority="1">Placa do carro</th>
                  <th data-priority="1">Modelo do carro</th>
                  <th data-priority="1">Tipo de usuário</th>
                  <th data-priority="1">Conta bloqueada?</th>
                  <th data-priority="1">Conta ativa?</th>
                </tr>
              </thead>
              <tbody>
              </tbody>
            </table>
          </div>

          <ul class="pagination">
            <li><a href="#"><i class="fa-angle-left"></i></a></li>
            <li><a href="#">1</a></li>
            <li class="active"><a href="#">2</a></li>
            <li><a href="#">3</a></li>
            <li class="disabled"><a href="#">4</a></li>
            <li><a href="#">5</a></li>
            <li><a href="#">6</a></li>
            <li><a href="#"><i class="fa-angle-right"></i></a></li>
          </ul>

        </div>
        </div>
      </div>
    </div>
  </div>

  <th:block layout:fragment="scripts">
    <script th:src="@{/js/user/user.js}"></script>
  </th:block>
</body>
</html>
